.scrollDiv {
  height: 226px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}

.scrollDiv::-webkit-scrollbar {
  display: none;
}

.seemless {
  animation: up-down 1.2s infinite ease;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
