.modal.fade .modal-dialog {
  transition: transform 0.8s ease-out !important;
  transform: translate(0, 200%);
}

.modal-content {
  height: 350px;
}

.modal-dialog {
  margin: 0;
}

.modal.show .modal-dialog {
  transform: translate(0, 100%);
}

.optInput {
  height: 40px;
  width: 40px;
  border: 2px solid lightgray;
  border-radius: 2px;
}
