.progress-box {
  height: 100px;
}

.perfect-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px dotted #f36525;
  background-color: white;
}

hr {
  border-top: 3px dashed #f36525;
}

.right-center {
  right: -10%;
}

.left-center {
  left: -10%;
}

.fs-12 {
  font-size: 12px;
}

@keyframes movePlaneToMiddle {
  0% {
    left: 0%;
  }
  100% {
    left: 50%;
  }
}

.move-to-middle {
  transform: translate(50%, -50%);
  animation: movePlaneToMiddle 1.2s ease;
  z-index: 101;
  left: 50%;
}

.left {
  position: absolute;
  transform: translate(-50%, -50%);
}

.move-to-start {
  transform: translate(-50%, -50%);
  animation: movePlaneToStart 1.2s ease;
  z-index: 101;
  left: 0%;
}

@keyframes movePlaneToStart {
  0% {
    left: -30%;
  }
  100% {
    left: 0%;
  }
}

.move-to-right {
  transform: translate(-50%, -50%);
  animation: movePlaneToRight 1.2s ease;
  z-index: 101;
  left: 100%;
}

@keyframes movePlaneToRight {
  0% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
