@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.app-text {
  color: #f36525;
}

.bg-app {
  background-color: #f36525;
}

.app-secondary-text {
  color: #2f394b;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.ts-2 {
  font-size: 2rem;
}

.ts-1 {
  font-size: 1.2rem;
}

.ts-13 {
  font-size: 1.3rem;
}

.bg-whatToget {
  background: rgb(78, 129, 255);
  background: linear-gradient(
    60deg,
    rgba(78, 129, 255, 1) 0%,
    rgba(11, 27, 69, 1) 49%,
    rgba(11, 27, 69, 1) 73%,
    rgba(240, 137, 157, 1) 100%,
    rgba(157, 60, 253, 1) 100%
  );
}

.gradient {
  background: linear-gradient(to right, #ee9928, #e5822a, #d66732);
}

.app-btn {
  height: 47px;
}

.bg-lightGray {
  background-color: #f2f3f7;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-app-dark {
  background: rgba(11, 27, 69, 1);
}
